[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"py-cord" = "*"
"python-dotenv" = "*"
"paramiko" = "*"
"chardet" = "*"
"tzlocal" = "*"

[dev-packages]
"Babel" = "*"
"setuptools" = "*"

[requires]
python_version = "3.12"
